<!DOCTYPE html>
<html lang="ru">


<body style="padding: 40px;" class="d-flex flex-column h-100" data-spy="scroll" data-target="#menu-section">


<a href="http://{{ domain }}" style="
display: flex;justify-content: center; margin-top: 20px;
font-size: 30px;
font-weight: 900;
color: gray;
text-decoration: none;">
    Интернет-магазин Bona Fide Sale — одежда для фитнеса
</a>

<div style="display: flex;justify-content: center; margin-top: 20px;
font-size: 14px;
font-weight: 900;
color: gray;
text-decoration: none;">
    Вопрос с сайта
</div>

<div style="display: flex;justify-content: start; margin-top: 20px;
font-size: 14px;
font-weight: 900;
color: gray;
text-decoration: none;">
    Имя: {{ name }}
</div>

<div style="display: flex;justify-content: start; margin-top: 20px;
font-size: 14px;
font-weight: 900;
color: gray;
text-decoration: none;">
    Телефон: {{ phone }}
</div>

<div style="display: flex;justify-content: start; margin-top: 20px;
font-size: 14px;
font-weight: 900;
color: gray;
text-decoration: none;">
    E-mail: {{ email }}
</div>

<div style="display: flex;justify-content: center; margin-top: 60px;
font-size: 14px;
font-weight: 900;
color: gray;
text-decoration: none;">
    Текст
</div>

<div style="display: flex;justify-content: start; margin-top: 60px;
font-size: 14px;
font-weight: 900;
color: gray;
text-decoration: none;">
    {{ message }}
</div>


<a href="http://{{ domain }}" style="display: flex;justify-content: flex-end; margin-top: 200px;
font-size: 18px;
font-weight: 900;
color: gray;
text-decoration: none;
opacity: 0.7">
    С уважением, Интернет-магазин Bona Fide Sale — одежда для фитнеса
</a>

</body>

</html>
