@charset "utf-8";
$main_color: #fd0e7f;
$main_color_hover: #c90d65;
$time: 0.3s;


.text-through {
  text-decoration: line-through;
  color: #8d8d8d;
}

.rub {
  content: "р.";
  padding-left: 2px;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid $main_color;
}

.more {
  display: flex;
  justify-content: center;
}

.form-control:hover {
  box-shadow: none;
  border: 1px solid $main_color;
}

.p-0 {
  padding: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.pm-0 {
  @extend .m-0;
  @extend .p-0;
}

.img_full {
  width: 100%;
  height: 100%;
}

a {
  color: #4b4b4b;
  text-decoration: none;
}


.header.header_cart {
  margin: 0;
}

.cart__section {

  .section__header {
    font-size: 26px !important;
    font-weight: 400 !important;
    opacity: 0.8 !important;
    justify-content: flex-start !important;
  }

  .header__title {
    font-size: 36px !important;
    font-weight: 800 !important;
    opacity: 0.8 !important;
  }

  .header__count {
    font-size: 26px !important;
    font-weight: 600 !important;
    opacity: 0.8 !important;
    color: $main_color;
  }

  .header__text {
    font-size: 26px !important;
    font-weight: 600 !important;
    opacity: 0.8 !important;
  }

  .header__price {
    font-size: 26px !important;
    font-weight: 600 !important;
    opacity: 0.8 !important;
    color: $main_color;

    &:after {
      @extend .rub;
    }

  }


  .product__footer__size {

    &__value {
      color: $main_color;
      font-weight: 600;
    }

  }

  .table {
    font-size: 14px;

    &__head {
      opacity: 0.6;
    }

    &__name {

    }

    &__price {
      opacity: 0.8;
      font-weight: 600;

      &:after {
        @extend .rub;
      }

    }

    &__count {

      .input-group {
        background: inherit !important;

        .input-group-prepend {
          background: inherit !important;

          .btn {
            background: inherit !important;
          }
        }

        .change_item_count {
          background: inherit !important;
          max-width: 60px !important;
        }

        .input-group-append {
          background: inherit !important;

          .btn {
            background: inherit !important;
          }
        }

      }

    }

    &__result {
      opacity: 0.8;
      color: #fd0e7f;
      font-size: 12px;
      font-weight: 600;

      &:after {
        @extend .rub;
      }

    }
  }

  .all_result {
    font-weight: 600;
    color: $main_color;
  }

  #cart_price_all {
    &:after {
      @extend .rub;
    }
  }

}

@media (max-width: 576px) {
  .cart__section {

    .remove_all_from_cart {
      line-height: 15px;
      font-size: 14px;
    }

    #order {
      line-height: 15px;
      font-size: 14px;
    }

    .section__header {
      font-size: 14px !important;
    }


    .header__title {
      font-size: 24px !important;
    }

    .header__count {
      font-size: 14px !important;
    }

    .header__text {
      font-size: 10px !important;
    }

    .header__price {
      font-size: 14px !important;
    }

    .product__body {
      height: 30px !important;
    }

    .product__footer__size {
      font-size: 10px;
    }

    .change_item_count {
      height: 30px !important;
    }

  }

  .suggestions-suggestions {
    font-size: 8px !important;
  }

  .suggestions-addon {
    width: 10px !important;
    right: 10px !important;
    left: auto;

  }

  #address_form {
    label {
      font-size: 10px !important;
      font-weight: 400 !important;
      margin-bottom: 0;
    }

    .form-row, .form-group {
      margin-bottom: 0;
    }

    .form-control {
      font-size: 10px !important;
    }

  }

}

.form-control:disabled, .form-control[readonly] {
  opacity: 1;
  background-color: inherit;
}

.was-validated .form-control:valid, .form-control.is-valid {
  border: 1px solid #6b6b6b !important;
  background-image: none !important;
}

.was-validated .form-control:invalid, .form-control.is-invalid {
  background-image: none !important;
}

.suggestions-suggestions {
  font-size: 10px;
}

.suggestions-addon {
  width: 16px !important;
  left: 117px;
}

#address_form {
  label {
    font-size: 14px;
    color: #fd0e7f;
    opacity: 0.6;
    font-weight: 600;
  }

  .form-control {
    font-size: 14px;
  }

  .suggestions-promo svg {
    height: 10px !important;
    vertical-align: bottom
  }

}