{% load mptt_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% load static %}
<script src="{% static "js/jquery-3.3.1.min.js" %}"></script>

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-6">
            {% include 'PasswordReset/password_change_form.html' %}
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {

        $(document).on('submit', '#password_change_form', function (e) {
            e.preventDefault()
            $.ajax({
                type: "POST",
                url: '{% url "password_reset_change" 0 0 %}',
                data: $(this).serialize(),
                success: function (data) {
                    if (data['result'] == 'success') {
                        window.location.href = data['url']
                    } else if (data['result'] == 'error') {
                        $('#password_change_form').replaceWith(data['response'])
                    }
                }
            })
        })
    })
</script>
