{% extends 'script.html' %}
{% load  static %}

{% block title %}Bona Fide Sale - Политика конфиденциальности{% endblock title %}

{% block scr %}

    <script>

        $(window).on('load', function () {


        });

        $(document).ready(function () {

        })
    </script>

{% endblock scr %}




{% block sidebar_button %}
    <button type="button" id="sidebarCollapse" class="mc btn__custom">
        <i class="fas fa-align-left"></i>
        <span>Меню</span>
    </button>
{% endblock sidebar_button %}




{% block content %}
    <section>
        <div class="container-fluid cst">
            <div class="row">
                {% include 'sidebar.html' with class_m="mc" ovr='mc' filter_shop_display='none' %}

                <div class="col-12">
                    <div class="section__header start perf">Политика конфиденциальности</div>
                    <hr>

                    <div class="returnpage__text">
                        <p align="center">
                        </p>
                        <p align="center">
                            <b>1. Общие положения</b>
                        </p>
                        <p>
                            1.1. Настоящая Политика в отношении обработки персональных данных (далее – Политика)
                            составлена в соответствии с пунктом 2 статьи 18.1 Федерального закона «О персональных
                            данных» № 152-ФЗ от 27 июля 2006 г., а также иными нормативными правовыми актами Российской
                            Федерации в области защиты и обработки персональных данных и действует в отношении всех
                            персональных данных (далее – данные), которые Организация (далее – Оператор, Общество) может
                            получить от субъекта персональных данных, являющегося стороной по гражданско-правовому
                            договору, от пользователя сети Интернет (далее – Пользователь) во время использования им
                            любого из сайтов, сервисов, служб, программ, продуктов или услуг ООО "Одежда Дочаком", а
                            также от субъекта персональных данных, состоящего с Оператором в отношениях, регулируемых
                            трудовым законодательством (далее – Работник).
                        </p>
                        <p>
                            1.2. Оператор обеспечивает защиту обрабатываемых персональных данных от несанкционированного
                            доступа и разглашения, неправомерного использования или утраты в соответствии с требованиями
                            Федерального закона от 27 июля 2006 г. № 152-ФЗ «О персональных данных».
                        </p>
                        <p>
                            1.3. Оператор вправе вносить изменения в настоящую Политику. При внесении изменений в
                            заголовке Политики указывается дата последнего обновления редакции. Новая редакция Политики
                            вступает в силу с момента ее размещения на сайте, если иное не предусмотрено новой редакцией
                            Политики.
                        </p>
                        <p>
                        </p>
                        <p align="center">
                            <b>2. Термины и принятые сокращения</b>
                        </p>
                        <p>
                            Персональные данные – любая информация, относящаяся к прямо или косвенно определенному или
                            определяемому физическому лицу (субъекту персональных данных).
                        </p>
                        <p>
                            Обработка персональных данных – любое действие (операция) или совокупность действий
                            (операций), совершаемых с использованием средств автоматизации или без использования таких
                            средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение,
                            уточнение (обновление, изменение), извлечение, использование, передачу (распространение,
                            предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных
                            данных.
                        </p>
                        <p>
                            Автоматизированная обработка персональных данных – обработка персональных данных с помощью
                            средств вычислительной техники.
                        </p>
                        <p>
                            Информационная система персональных данных (ИСПД) – совокупность содержащихся в базах данных
                            персональных данных и обеспечивающих их обработку информационных технологий и технических
                            средств.
                        </p>
                        <p>
                            Персональные данные, сделанные общедоступными субъектом персональных данных, – персональные
                            данные, доступ неограниченного круга лиц к которым предоставлен субъектом персональных
                            данных либо по его просьбе.
                        </p>
                        <p>
                            Блокирование персональных данных – временное прекращение обработки персональных данных (за
                            исключением случаев, если обработка необходима для уточнения персональных данных).
                        </p>
                        <p>
                            Уничтожение персональных данных – действия, в результате которых становится невозможным
                            восстановить содержание персональных данных в информационной системе персональных данных и
                            (или) в результате которых уничтожаются материальные носители персональных данных.
                        </p>
                        <p>
                            Оператор – организация, самостоятельно или совместно с другими лицами организующая обработку
                            персональных данных, а также определяющая цели обработки персональных данных, подлежащих
                            обработке, действия (операции), совершаемые с персональными данными. Оператором является ИП
                            Крюков Александр Евгеньевич, расположенный по адресу: 442310, Пензенская обл, г. Городище, ул. М. Смирновой, д. 4.
                        </p>
                        <p>
                        </p>
                        <p align="center">
                            <b>3. Обработка персональных данных</b>
                        </p>
                        <p>
                            3.1. Получение персональных данных.
                        </p>
                        <p>
                            3.1.1. Все персональные данные следует получать от самого субъекта. Если персональные данные
                            субъекта можно получить только у третьей стороны, то субъект должен быть уведомлен об этом
                            или от него должно быть получено согласие.
                        </p>
                        <p>
                            3.1.2. Оператор должен сообщить субъекту о целях, предполагаемых источниках и способах
                            получения персональных данных, характере подлежащих получению персональных данных, перечне
                            действий с персональными данными, сроке, в течение которого действует согласие, и порядке
                            его отзыва, а также о последствиях отказа субъекта дать письменное согласие на их получение.
                        </p>
                        <p>
                            3.1.3. Документы, содержащие персональные данные, создаются путем:
                        </p>
                        <p>
                            – копирования оригиналов документов (паспорт, документ об образовании, свидетельство ИНН,
                            пенсионное свидетельство и др.);
                        </p>
                        <p>
                            – внесения сведений в учетные формы;
                        </p>
                        <p>
                            – получения оригиналов необходимых документов (трудовая книжка, медицинское заключение,
                            характеристика и др.).
                        </p>
                        <p>
                            3.2. Обработка персональных данных.
                        </p>
                        <p>
                            3.2.1. Обработка персональных данных осуществляется:
                        </p>
                        <p>
                            – с согласия субъекта персональных данных на обработку его персональных данных;
                        </p>
                        <p>
                            – в случаях, когда обработка персональных данных необходима для осуществления и выполнения
                            возложенных законодательством РФ функций, полномочий и обязанностей;
                        </p>
                        <p>
                            – в случаях, когда осуществляется обработка персональных данных, доступ неограниченного
                            круга лиц к которым предоставлен субъектом персональных данных либо по его просьбе (далее –
                            персональные данные, сделанные общедоступными субъектом персональных данных).
                        </p>
                        <p>
                            3.2.2. Цели обработки персональных данных:
                        </p>
                        <p>
                            – осуществление трудовых отношений;
                        </p>
                        <p>
                            – осуществление гражданско-правовых отношений;
                        </p>
                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; – для связи с пользователем, в связи
                            с заполнением формы обратной связи на сайте, в &nbsp;том числе направление уведомлений,
                            запросов и информации, касающихся использования сайта магазина, обработки, согласования
                            заказов и их доставки, исполнения соглашений и договоров;
                        </p>
                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - обезличивания персональных данных
                            для получения обезличенных статистических данных, которые передаются третьему лицу для
                            проведения исследований, выполнения работ или оказания услуг по поручению магазина.
                        </p>
                        <p>
                            3.2.3. Категории субъектов персональных данных.
                        </p>
                        <p>
                            Обрабатываются персональные данные следующих субъектов персональных данных:
                        </p>
                        <p>
                            – физические лица, состоящие с Обществом в трудовых отношениях;
                        </p>
                        <p>
                            – физические лица, уволившиеся из Общества;
                        </p>
                        <p>
                            – физические лица, являющиеся кандидатами на работу;
                        </p>
                        <p>
                            – физические лица, состоящие с Обществом в гражданско-правовых отношениях;
                        </p>
                        <p>
                            – физические лица, являющиеся Пользователями Сайта Магазина.
                        </p>
                        <p>
                            3.2.4. Персональные данные, обрабатываемые Оператором:
                        </p>
                        <p>
                            – данные, полученные при осуществлении трудовых отношений;
                        </p>
                        <p>
                            – данные, полученные для осуществления отбора кандидатов на работу;
                        </p>
                        <p>
                            – данные, полученные при осуществлении гражданско-правовых отношений;
                        </p>
                        <p>
                            – данные, полученные от Пользователей Сайта Магазина.
                        </p>
                        <p>
                            3.2.5. Обработка персональных данных ведется:
                        </p>
                        <p>
                            – с использованием средств автоматизации;
                        </p>
                        <p>
                            – без использования средств автоматизации.
                        </p>
                        <p>
                            3.3. Хранение персональных данных.
                        </p>
                        <p>
                            3.3.1. Персональные данные субъектов могут быть получены, проходить дальнейшую обработку и
                            передаваться на хранение как на бумажных носителях, так и в электронном виде.
                        </p>
                        <p>
                            3.3.2. Персональные данные, зафиксированные на бумажных носителях, хранятся в запираемых
                            шкафах либо в запираемых помещениях с ограниченным правом доступа.
                        </p>
                        <p>
                            3.3.3. Персональные данные субъектов, обрабатываемые с использованием средств автоматизации
                            в разных целях, хранятся в разных папках.
                        </p>
                        <p>
                            3.3.4. Не допускается хранение и размещение документов, содержащих персональных данных, в
                            открытых электронных каталогах (файлообменниках) в ИСПД.
                        </p>
                        <p>
                            3.3.5. Хранение персональных данных в форме, позволяющей определить субъекта персональных
                            данных, осуществляется не дольше, чем этого требуют цели их обработки, и они подлежат
                            уничтожению по достижении целей обработки или в случае утраты необходимости в их достижении.
                        </p>
                        <p>
                            3.4. Уничтожение персональных данных.
                        </p>
                        <p>
                            3.4.1. Уничтожение документов (носителей), содержащих персональных данных, производится
                            путем сожжения, дробления (измельчения), химического разложения, превращения в бесформенную
                            массу или порошок. Для уничтожения бумажных документов допускается применение шредера.
                        </p>
                        <p>
                            3.4.2. Персональные данные на электронных носителях уничтожаются путем стирания или
                            форматирования носителя.
                        </p>
                        <p>
                            3.4.3. Факт уничтожения персональных данных подтверждается документально актом об
                            уничтожении носителей.
                        </p>
                        <p>
                            3.5. Передача персональных данных.
                        </p>
                        <p>
                            3.5.1. Оператор передает персональные данные третьим лицам в следующих случаях:
                        </p>
                        <p>
                            – субъект выразил свое согласие на такие действия;
                        </p>
                        <p>
                            – передача предусмотрена российским или иным применимым законодательством в рамках
                            установленной законодательством процедуры.
                        </p>
                        <p>
                            3.5.2. Перечень лиц, которым передаются персональные данные.
                        </p>
                        <p>
                            – Пенсионный фонд РФ для учета (на законных основаниях);
                        </p>
                        <p>
                            – налоговые органы РФ (на законных основаниях);
                        </p>
                        <p>
                            – Фонд социального страхования РФ (на законных основаниях);
                        </p>
                        <p>
                            – территориальный фонд обязательного медицинского страхования (на законных основаниях);
                        </p>
                        <p>
                            – страховые медицинские организации по обязательному и добровольному медицинскому
                            страхованию (на законных основаниях);
                        </p>
                        <p>
                            – банки для начисления заработной платы (на основании договора);
                        </p>
                        <p>
                            – органы МВД России в случаях, установленных законодательством;
                        </p>
                        <p>
                            – обезличенные персональные данные Пользователей сайта интернет-магазина передаются
                            контрагентам Магазина.
                        </p>
                        <p>
                        </p>
                        <p align="center">
                            <b>4. Защита персональных данных</b>
                        </p>
                        <p>
                            4.1. В соответствии с требованиями нормативных документов Оператором создана система защиты
                            персональных данных (СЗПД), состоящая из подсистем правовой, организационной и технической
                            защиты.
                        </p>
                        <p>
                            4.2. Подсистема правовой защиты представляет собой комплекс правовых,
                            организационно-распорядительных и нормативных документов, обеспечивающих создание,
                            функционирование и совершенствование СЗПД.
                        </p>
                        <p>
                            4.3. Подсистема организационной защиты включает в себя организацию структуры управления
                            СЗПД, разрешительной системы, защиты информации при работе с сотрудниками, партнерами и
                            сторонними лицами.
                        </p>
                        <p>
                            4.4. Подсистема технической защиты включает в себя комплекс технических, программных,
                            программно-аппаратных средств, обеспечивающих защиту персональных данных.
                        </p>
                        <p>
                            4.4. Основными мерами защиты персональных данных, используемыми Оператором, являются:
                        </p>
                        <p>
                            4.5.1. Назначение лица, ответственного за обработку персональных данных, которое
                            осуществляет организацию обработки персональных данных, обучение и инструктаж, внутренний
                            контроль за соблюдением учреждением и его работниками требований к защите персональных
                            данных.
                        </p>
                        <p>
                            4.5.2. Определение актуальных угроз безопасности персональных данных при их обработке в ИСПД
                            и разработка мер и мероприятий по защите персональных данных.
                        </p>
                        <p>
                            4.5.3. Разработка политики в отношении обработки персональных данных.
                        </p>
                        <p>
                            4.5.4. Установление правил доступа к персональных данных, обрабатываемым в ИСПД, а также
                            обеспечение регистрации и учета всех действий, совершаемых с персональными данными в ИСПД.
                        </p>
                        <p>
                            4.5.5. Установление индивидуальных паролей доступа сотрудников в информационную систему в
                            соответствии с их производственными обязанностями.
                        </p>
                        <p>
                            4.5.6. Применение прошедших в установленном порядке процедуру оценки соответствия средств
                            защиты информации.
                        </p>
                        <p>
                            4.5.7. Сертифицированное антивирусное программное обеспечение с регулярно обновляемыми
                            базами.
                        </p>
                        <p>
                            4.5.8. Соблюдение условий, обеспечивающих сохранность персональных данных и исключающих
                            несанкционированный к ним доступ.
                        </p>
                        <p>
                            4.5.9. Обнаружение фактов несанкционированного доступа к персональным данным и принятие мер.
                        </p>
                        <p>
                            4.5.10. Восстановление персональных данных, модифицированных или уничтоженных вследствие
                            несанкционированного доступа к ним.
                        </p>
                        <p>
                            4.5.11. Обучение работников Оператора, непосредственно осуществляющих обработку персональных
                            данных, положениям законодательства РФ о персональных данных, в том числе требованиям к
                            защите персональных данных, документам, определяющим политику Оператора в отношении
                            обработки персональных данных, локальным актам по вопросам обработки персональных данных.
                        </p>
                        <p>
                            4.5.12. Осуществление внутреннего контроля и аудита.
                        </p>
                        <p>
                        </p>
                        <p align="center">
                            <b>5. Основные права субъекта персональных данных и обязанности Оператора</b>
                        </p>
                        <p>
                            5.1. Основные права субъекта персональных данных.
                        </p>
                        <p>
                            Субъект имеет право на доступ к его персональным данным и следующим сведениям:
                        </p>
                        <p>
                            – подтверждение факта обработки персональных данных Оператором;
                        </p>
                        <p>
                            – правовые основания и цели обработки персональных данных;
                        </p>
                        <p>
                            – цели и применяемые Оператором способы обработки персональных данных;
                        </p>
                        <p>
                            – наименование и место нахождения Оператора, сведения о лицах (за исключением работников
                            Оператора), которые имеют доступ к персональных данных или которым могут быть раскрыты
                            персональные данные на основании договора с Оператором или на основании федерального закона;
                        </p>
                        <p>
                            – сроки обработки персональных данных, в том числе сроки их хранения;
                        </p>
                        <p>
                            – порядок осуществления субъектом персональных данных прав, предусмотренных Федеральным
                            законом;
                        </p>
                        <p>
                            – наименование или фамилия, имя, отчество и адрес лица, осуществляющего обработку
                            персональных данных по поручению Оператора, если обработка поручена или будет поручена
                            такому лицу;
                        </p>
                        <p>
                            – обращение к Оператору и направление ему запросов;
                        </p>
                        <p>
                            – обжалование действий или бездействия Оператора.
                        </p>
                        <p>
                            5.2. Обязанности Оператора.
                        </p>
                        <p>
                            Оператор обязан:
                        </p>
                        <p>
                            – при сборе персональных данных предоставить информацию об обработке персональных данных;
                        </p>
                        <p>
                            – в случаях если персональные данные были получены не от субъекта персональных данных,
                            уведомить субъекта;
                        </p>
                        <p>
                            – при отказе в предоставлении персональных данных субъекту разъясняются последствия такого
                            отказа;
                        </p>
                        <p>
                            – опубликовать или иным образом обеспечить неограниченный доступ к документу, определяющему
                            его политику в отношении обработки персональных данных, к сведениям о реализуемых
                            требованиях к защите персональных данных;
                        </p>
                        <p>
                            – принимать необходимые правовые, организационные и технические меры или обеспечивать их
                            принятие для защиты персональных данных от неправомерного или случайного доступа к ним,
                            уничтожения, изменения, блокирования, копирования, предоставления, распространения
                            персональных данных, а также от иных неправомерных действий в отношении персональных данных;
                        </p>
                        <p>
                            – давать ответы на запросы и обращения субъектов персональных данных, их представителей и
                            уполномоченного органа по защите прав субъектов персональных данных.
                        </p>
                        <br>
                        <p>
                            <a target="_blank" href="/oferta/oferta.docx" style="text-decoration: underline">Скачать
                                публичную оферту</a>
                        </p>
                    </div>

                    <a href="/media/default/oferta.docx">
                        <button class="btn__custom__inverse">
                            Скачать политику конфиденциальности
                        </button>
                    </a>

                </div>


            </div>
        </div>
    </section>
{% endblock content %}